*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* a{text-decoration: none;} */
kbd{
    box-sizing: border-box;
    display: inline-block;
    height: 70px;
    width:70px;
    font-size: 24px;
    /* font-family: 'Roboto',sans-serif; */
    background: rgba(0,0,0,0.7);
    color: #fff;
    border-radius: 8px;
    text-align: center;
    line-height: 70px;
    margin-bottom: 12px;
    margin-right: 13px;
    position: relative;
    text-transform: uppercase;
    vertical-align: top;
}
body{
    /* background-image: url(./bizhi.jpg); */
    /* background-size: cover; */
    background-color: #303052;
    /* background: #090723; */
}


/* 给特殊按键设置宽度 */
#wrapper{
    text-align: center;
    margin-top: 50px;
}
#wrapper div #kbd_tab{
    width: 120px;
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
}
#wrapper div #kbd_delete{
    width: 120px;
    font-size: 18px;
}
#wrapper div #kbd_capslock{
    width: 138px;
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
}
#wrapper div #kbd_enter{
    width: 138px;
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
}
#wrapper div #kbd_shift{
    width: 178px;
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
}
#wrapper div #kbd_shiftr{
    width: 178px;
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
}
#wrapper div #kbd_command{
    width: 95px;
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
}
#wrapper div #kbd_space{
    width: 402px;
    font-size: 18px;
}
#wrapper div #kbd_direction{
    width: 237px;
}
#wrapper div #kbd_option{
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
}
#wrapper div #kbd_ctrl{
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
}
#wrapper div #kbd_fn{
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
}
/* 搜索框样式 */
#search{
    /* text-align: center; */
    display: inline-block;
    margin-top: 80px;
}
main{
    text-align: center;
}

#wrapper button{
    position: absolute;
    padding: 0 5px;
    background: rgb(41, 97, 224);
    border-radius: 3px;
    color: #fff;
    display: none;
}
#wrapper kbd:hover{color: #000;transition: 1s}
#wrapper kbd:hover button{
    display: block;
}
#wrapper button:hover{
   background: #fff;
   color: #000;
}
#wrapper button:nth-child(2){
    left: 0px;
    top: 0px;
    border: 0px;
}
#wrapper button:last-child{
    left: 30px;
    top: 0px;
}
#wrapper kbd:hover button{
    display: block;
}
#wrapper img{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
#search button{
    /* padding: 10px; */
    /* font-size: 16px; */
    padding: 8px;
    background: #fff;
    /* color: #fff; */
    border-radius: 5px;
}
#search button:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.7);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#search input{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    /* background: #303052; */
    background: #0E0F33;
    /* border: 1px solid gray; */
    /* outline: 1px solid gray; */
    /* outline-style: dashed; */
    outline: none;
    color: #fff;
    font-size: 16px;
}
#search input:focus{
    /* border: 1px; */
    border: 0px;
    outline-width: 1px;
}
#search input:hover{
    outline: 1px solid rgba(255,255,255,0.5);
}
#search{
    position: relative;
}
#search::before{
    display: block;
    content: '';
    background: url(./search.png);
    width: 32px;
    height: 32px;
    position: absolute;
    left: -35px;
    top: 2px;
    
}


body >img{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 100px;
}



