*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
@font-face{
    font-family: "Fredoka one",cursive;
    src: url("FredokaOne-Regular.ttf");
}
body{
    background-image: url(https://i.loli.net/2017/11/08/5a02f0c9eb538.jpg);
    background-size:cover;
    text-align: center;
    
}
#wrapper{
    text-align: center;
    margin-top: 150px;
    background-color: rgba(255, 255,255, 0.3);
    display: inline-block;
    padding: 30px 100px;
    border-radius: 10px;
}
#wrapper kbd{
    /* border: 1px solid red; */
    font-family: "Fredoka One",cursive;
    border-radius: 5px;
    width: 4em;
    height: 4em;
    display: inline-block;
    box-sizing: border-box;
    /* padding: auto; */
    line-height: 4em;
    vertical-align: top;
    font-size: 16px;
    margin-right: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    /* background-color: rgba(0,0,0,0.4); */
    background-color: #000;
    color: #fff;
    box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.75);
    transition: 1s;
    position: relative;
}
#wrapper kbd:hover{
    /* background-color: rgb(248, 248, 248); */
    color:rgba(0,0,0,0.75);
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#wrapper>div:nth-child(3){
    margin-left: 2em;
}
#wrapper>div:nth-child(4){
    margin-left: 4em-14px;
}
kbd button{
    display: none;
    position: absolute;
   
    font-family: inherit;
    background: transparent;
    border: 0px;
}

/* 这里出错了，我写成了kbd button:hover */
kbd:hover button{
    display: inline-block;
    color: #fff;
}
kbd button:nth-child(1){
    top:0px;
    left: 5px;
}
kbd button:nth-child2(){
    top: 0px;
    left: 10px;
}

