*{
    margin: 0;
    padding: 0;
    border: 0;
}
a{text-decoration: none;}
kbd{
    display: inline-block;
    height: 70px;
    width:70px;
    font-size: 24px;
    background: #000;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    line-height: 70px;
    margin-bottom: 12px;
    margin-right: 13px;
    position: relative;
}


/* 给特殊按键设置宽度 */
#wrapper{
    text-align: center;
    margin-top: 100px;
}
#wrapper div #kbd_tab{
    width: 120px;
}
#wrapper div #kbd_14{
    width: 120px;
}
#wrapper div #kbd_cl{
    width: 138px;
}
#wrapper div #kbd_enter{
    width: 138px;
}
#wrapper div #kbd_shift{
    width: 178px;
}
#wrapper div #kbd_shift_r{
    width: 178px;
}
#wrapper div #kbd_command{
    width: 95px;
}
#wrapper div #kbd_space{
    width: 402px;
}
#wrapper div #kbd_direction{
    width: 237px;
}
/* 搜索框样式 */
#search{
    /* text-align: center; */
    display: inline-block;
}
main{
    text-align: center;
}

#wrapper button{
    position: absolute;
    padding: 0 5px;
    background: rgb(41, 97, 224);
    border-radius: 5px;
    display: none;
}
#wrapper button:hover{
   background: #fff;
}
#wrapper button:nth-child(2){
    left: 0px;
    top: 0px;
    border: 0px;
}
#wrapper button:last-child{
    left: 30px;
    top: 0px;
}
#wrapper kbd:hover button{
    display: block;
}
img{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 16px;
    height: 16px;
    display: inline-block;
}